# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Idea
*.iml
.idea/
*.ipr
*.iws
/out/

# Ansible
*.retry

### OSX template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
